<% provide(:title, "About") %>

<body>
  <h1>About Page</h1>
  <p>
    Welcome to Twitter. Here is a demo on how to use our application
    <a href="https://www.youtube.com/watch?v=5jWNpLvdocU">Twitter</a>.
  </p>
</body>
