<h1>Help Page</h1>
<p>
  Get help with your account here
  <a href="https://www.youtube.com">support</a>.
  For more information about what we do visit our
  <a href="https://www.about.com"><em>About Page</em>
  </a>.
</p>
