<% provide(:title, "Login") %>


<div class="center jumbotron">
  <h1>Log In</h1>

  <h4>Log In Here With Your Credentials:</h4>

  <%= link_to "Log In", '#', class: "btn btn-lg btn-primary" %>
</div>
