<h1>Twitter</h1>

<h3>Activation for <%= @user.name %></h3>

<p>
  This is an automated Twitter message regarding to your account
  activation. To activate your account now click the link.
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
