<footer class="footer">
  <small>
    Some Text Here
  </small>
  <nav>
    <a>Twitter @2019</a>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://twitter.com/">News</a></li>
    </ul>
  </nav>
</footer>
