<footer class="footer">
  <small>Twitter @2019</small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://twitter.com/">News</a></li>
    </ul>
  </nav>
</footer>
